body {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

.container {
  background-color: burlywood;
}

.main,
.link {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 800px;
}

.about,
ol {
  text-align: left;
}

ol {
  list-style-type: square;
  padding-left: 200px;
}

img,
.link {
  margin: 30px 0;
}

a {
  text-decoration: none;
  color: forestgreen;
}

.mail {
  border-bottom: 1px dotted;
  color: darkslategray !important;
}
